body {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
}
.title {
    font-family: 'Silkscreen', cursive;
}
.main {
    display: flex;
    flex-direction: row;
}
.gridElement {
    user-select: none;
}