body {
    max-width: 50rem;
    padding: 2rem;
    margin: auto;
}
.header {
    display: flex;
    justify-content: center;
}
.title {
    font-family: 'Silkscreen', cursive;
    font-size: 3rem;
}
.main {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.settings {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}
#colorPicker, .size-value {
    align-self: center;
}
button {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}
button.selected {
    background-color: #000000;
    color: #ffffff;
}
#grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
    border-style: solid;
}
.gridElement {
    border: 1px;
    border-style: solid;
    user-select: none;
}
.color {
    background-color: #000000;
}